@charset "UTF-8";

/* sRGBの色指定 */
body {
    background-color: rgb(25,33,60);
}

h3.en {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: ivyora-text, sans-serif;
    font-weight: 100;
    font-style: italic;
}

h3.ja {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
}

.bookInfo {
    color: rgb(255, 255, 255);
    text-align: left;
    width: calc(100% - 40px); /* 左右の余白を引いた幅を設定 */
    margin: 20px;
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-wrap: wrap; /* 横幅が足りなくなったら改行 */
    gap: 10px; /* 要素間の間隔を設定 */
    padding-top: 10px;
    width: calc(100% - 40px); /* 左右の余白を引いた幅を設定 */
}

.item {
    flex: 1 1 200px; /* 各要素の基本幅を200pxに設定 */
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(38, 53, 103);
    text-align: center;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
}

.preview {
    width: 180px;
    border-radius: 8px;
}

.bookTitle {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
}

.preparing {
    font-family: kinuta-shin-enpitsu-stdn, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

h2 {
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 13px;
}

label {
    color: rgb(255, 255, 255);
}

.forms {
    border-radius: 8px;
}

.bookTitle:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.bookTitle:link {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.bookTitle:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

h1 {
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 13px;
}
